<a href="/"><img src="/img/logo_small.png" />dbinbox</a>

- if session[:registered]
  = session[:username]
  %a{href: url("/admin")} settings
  |
  %a{href: url("/logout")} sign out
- else
  %a{href: url("/login")} sign in
